<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
  </head>

  <body>
    <form name="login_form" th:action="@{/login}" th:method="POST">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

      <label for="username">Username:</label>
      <input type="text" name="username" id="username">

      <label for="password">Password:</label>
      <input type="password" name="password" id="password">

      <input type="submit" th:value="Login">

      <div th:if="${param.error}" style="color: red">
        <p>Incorrect username and/or password.</p>
      </div>
    </form>
  </body>
</html>